.app {
  min-height: 100vh;
  background: rgb(134, 202, 224);
}

.tweet{
  padding: 10px;
  margin:10px;
  height: 300px;
  min-width: 300px;
  max-width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tweets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
   
}

.red{
  color: red;
  font-size: 15px;
}